


<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>表单组合</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/style/admin.css}" media="all">

</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">新增企业</div>
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" th:action="@{/company/updata}" lay-filter="component-form-group" th:object="${company}">
                <!--文件上传-->
                <div class="layui-form-item">
                    <label class="layui-form-label">文件上传</label>
                    <div class="layui-input-block">
                        <button style="float: left;" type="button" class="layui-btn" id="file">
                            <i class="layui-icon">&#xe67c;</i>上传文件
                        </button>
                        <input readonly id="loadfilename" type="text" style="width: 60%;border: none"  lay-verify="required" th:field="*{companyno}" class="layui-input">
                    </div>
                </div>
                <!--<div class="layui-form-item">-->
                    <!--<label class="layui-form-label">企业编码</label>-->
                    <!--<div class="layui-input-block">-->
                        <!--<input type="text" name="title"  lay-verify="required" th:field="*{companyno}"  autocomplete="off" placeholder="请输入企业编码" class="layui-input">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="layui-form-item">-->
                    <!--<label class="layui-form-label">企业名称</label>-->
                    <!--<div class="layui-input-block">-->
                        <!--<input type="text" name="username"  lay-verify="required" th:field="*{companyname}" placeholder="请输入企业名称" autocomplete="off" class="layui-input">-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="layui-form-item">-->
                    <!--<div class="layui-inline">-->
                        <!--<label class="layui-form-label">招聘职位</label>-->
                        <!--<div class="layui-input-inline">-->
                            <!--<input type="tel" name="phone"   th:field="*{post}" placeholder="请输入招聘职位" autocomplete="off" class="layui-input">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="layui-form-item">-->
                    <!--<div class="layui-inline">-->
                        <!--<label class="layui-form-label">招聘负责人</label>-->
                        <!--<div class="layui-input-inline">-->
                            <!--<input type="tel" name="phone" lay-verify="required"  placeholder="请输入招聘负责人"  th:field="*{people}"  autocomplete="off" class="layui-input">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="layui-inline">-->
                        <!--<label class="layui-form-label">联系方式</label>-->
                        <!--<div class="layui-input-inline">-->
                            <!--<input type="tel" name="phone" placeholder="请输入联系方式"   th:field="*{peoplephone}" lay-verify="required|phone" autocomplete="off" class="layui-input">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="layui-form-item">-->
                    <!--<div class="layui-inline">-->
                        <!--<label class="layui-form-label">所需学历</label>-->
                        <!--<div class="layui-input-inline">-->
                            <!--<input type="text" name="email" lay-verify="required"  placeholder="请输入所需学历" th:field="*{qualiy}" autocomplete="off" class="layui-input">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="layui-inline">-->
                        <!--<label class="layui-form-label">薪资待遇</label>-->
                        <!--<div class="layui-input-inline">-->
                            <!--<input type="text" name="email" lay-verify="required"  placeholder="请输入薪资待遇" th:field="*{money}" autocomplete="off" class="layui-input">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="layui-form-item">-->
                    <!--<div class="layui-inline">-->
                        <!--<label class="layui-form-label">发布时间</label>-->
                        <!--<div class="layui-input-inline">-->
                            <!--<input type="text" name="date" placeholder="请选择发布时间"   th:field="*{date}" id="LAY-component-form-group-date" lay-verify="date" autocomplete="off" class="layui-input">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="layui-form-item layui-form-text">-->
                    <!--<label class="layui-form-label">面试方式</label>-->
                    <!--<div class="layui-input-block">-->
                        <!--<input type="text" name="date" lay-verify="required" placeholder="请输入面试方式" th:field="*{type}" autocomplete="off" class="layui-input"></textarea>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="layui-form-item layui-form-text">-->
                    <!--<label class="layui-form-label">企业详细地址</label>-->
                    <!--<div class="layui-input-block">-->
                        <!--<textarea name="text" th:field="*{location}" lay-verify="required" placeholder="请输入企业详细地址"  class="layui-textarea"></textarea>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <!-- lay-filter="lay-submit="" component-form-demo1"-->
                            <button type="button" id="loadAction" class="layui-btn" >立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
                <input hidden th:field="*{id}">
                <input hidden th:field="*{isdel}">
            </form>
        </div>
    </div>
</div>

<input type="hidden" th:src="@{/}" id="contextPath">
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/lib/jquery-1.8.2.min.js}"></script>
<script>
    var defaulevalue = "请上传pdf文件，doc/docx将会被转为pdf"
    $("#loadfilename").val(defaulevalue)
    layui.config({
        base: '/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate','upload','element'], function(){
        var $ = layui.$
            ,element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,form = layui.form
            ,upload = layui.upload;

        form.render(null, 'component-form-group');

        laydate.render({
            elem: '#LAY-component-form-group-date'
        });

        /* 自定义验证规则 */
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        /* 监听指定开关 */
        form.on('switch(component-form-switchTest)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        /* 监听提交 */
        form.on('submit(component-form-demo1)', function(data){
            $.ajax({
                url:$("#contextPath").val()+"/company/add",
                type:"post",
                data:data.field,
                success:function(data){
                    if(data.success){
                        //提交成功，提交列表页面，并删除当前页面
                        layer.msg("保存成功",{icon:1,time:1000}, function(){
                            parent.layui.admin.events.closeThisTabs()
                        });
                    }else{
                        layer.msg(data.msg,{icon:2})
                    }

                }
            })
            // parent.layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            // })
            return false;
        });

        //拖拽上传
        upload.render({
            elem: '#file'
            ,url: $("#contextPath").val()+"/company/upload"
            ,auto: false //选择文件后不自动上传
            ,bindAction: '#loadAction' //指向一个按钮触发上传
            ,done: function(res){
                console.log(res)
                layer.closeAll();
                layer.msg("上传成功",{icon:1,time:1000})
            }
            ,accept: 'file' //允许上传的文件类型
            ,exts:'doc|docx|pdf'//配合accept使用
            ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.msg('上传中...', {
                    icon:16,
                    shade:[0.1, '#fff'],
                    time:false
                });
            }
            ,choose:function(obj){//选择文件的事件
                obj.preview(function(index, file, result){
                    // console.log(index); //得到文件索引
                    // console.log(file); //得到文件对象
                    // var name = file.name
                    // var index = name.lastIndexOf(".")
                    // var suffix = name.substring(index+1,name.length)
                    // console.log(suffix)
                    $("#loadfilename").val(file.name)
                    //obj.resetFile(index, file, '123.jpg'); //重命名文件名，layui 2.3.0 开始新增

                    //这里还可以做一些 append 文件列表 DOM 的操作

                    //obj.upload(index, file); //对上传失败的单个文件重新上传，一般在某个事件中使用
                    //delete files[index]; //删除列表中对应的文件，一般在某个事件中使用
                });
                return obj
            }
        });
    });
</script>
</body>
</html>
