<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
<meta charset="utf-8">
    <title>校园招聘平台</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/lib/jquery-1.8.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
</head>

<body style="background-image: url(../images/bg.jpg)">
    <div class="content">
        <div class="form sign-in">
            <h2>欢迎回来</h2>
            <label>
                <span>用户名/邮箱/手机号</span>
                <input type="email" id="username" />
            </label>
            <label>
                <span>密码</span>
                <input type="password" id="password" />
            </label>
            <p class="forgot-pass"><a href="forget">忘记密码？</a></p>
            <button type="button" class="submit" onclick="login()">登 录</button>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>还未注册？</h2>
                    <p>立即注册，发现大量机会！</p>
                </div>
                <div class="img__text m--in">
                    <h2>已有帐号？</h2>
                    <p>有帐号就登录吧，好久不见了！</p>
                </div>
                <div class="img__btn">
                    <span class="m--up">注 册</span>
                    <span class="m--in">登 录</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>立即注册</h2>
                <label>
                    <span>用户名</span>
                    <input type="text" id="rgusername" />
                </label>
                <label>
                    <span>密码</span>
                    <input type="password" id="rgpassword" />
                </label>
                <button type="button" class="submit" onclick="rigst()">注 册</button>
            </div>
        </div>
    </div>
    <input hidden th:src="@{/}" id="contextPath">
    <script type="text/javascript" th:src="@{/layerConfig.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
<SCRIPT>
    var contextPath = $("#contextPath").attr("src")
    //頁面回车事件
    // document.onkeyup = function (e) {
    //     if (window.event)//如果window.event对象存在，就以此事件对象为准
    //         e = window.event;
    //     var code = e.charCode || e.keyCode;
    //     if (code == 13) {
    //         //此处编写用户敲回车后的代码
    //         login()
    //     }
    // }
    function rigst(){
        if($("#rgusername").val()=='' || $("#rgpassword").val()==''){
            setTips(false,"请输入用户名和密码",function(){

            },800)
            return
        }
        $.ajax({
            url:contextPath+"login/rigst",
            method:'post',
            data:{'username':$("#rgusername").val(),'password':$("#rgpassword").val()},
            success:function(res){
                if(res.success){
                    setTips(true,"注册成功",function(){
                        $(".m--in").click()
                    },800)

                }else{
                    layer.msg(res.msg,{icon:2})
                }
            },
            error:function (err) {
                console.log(err)
            }
        })

    }
    function login(){
        if($("#username").val()=='' || $("#password").val()==''){
            setTips(false,"请输入用户名和密码",function(){

            },800)
            return
        }
        $.ajax({
            url:contextPath+"login/main",
            method:'post',
            data:{'username':$("#username").val(),'password':$("#password").val()},
            success:function(res){
                if(res.success){
                    setTips(true,"验证成功",function(){
                        window.location.href = "index"
                    },800)

                }else{
                    layer.msg(res.msg,{icon:2})
                }
            },
            error:function (err) {
                console.log(err)
            }
        })
    }
</SCRIPT>
</html>